@import url('https://fonts.union.io/css/compiled/work-sans.css');
/** colors **/
/** layout **/
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.pageContainer {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 600;
}
p {
  font-size: 18px;
  line-height: 20px;
}
.header {
  background-color: #00838F;
  color: white;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 4;
}
.header .logo {
  display: inline-block;
  background-color: #FFAB40;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  margin: 15px 1em;
}
.header h3 {
  display: inline-block;
  margin: 0 0 0 1em;
  padding: 0 1em;
  font-size: 28px;
  line-height: 60px;
}
.header h3:hover {
  text-decoration: underline;
  cursor: default;
}
.header .language {
  display: inline-block;
  float: right;
  padding: 0 1em;
  line-height: 60px;
  text-transform: uppercase;
}
.body-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 0 auto;
  margin-top: 60px;
}
.toolbar {
  background-color: #006064;
  color: white;
  display: flex;
  flex: 0 0 25%;
  z-index: 2;
  box-shadow: 2px 0 0px rgba(255, 255, 255, 0.8);
}
.toolbar .toolbar-container {
  margin: 1em;
  width: 100%;
}
.toolbar .toolbar-container h3.inactive:hover {
  text-decoration: underline;
  cursor: default;
}
ul.listControl {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.listControl li {
  padding: 2px 0 15px;
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.editor {
  background: #002B36;
  color: #93A1A1;
  display: flex;
  flex: 0 0 75%;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}
.editor code-box {
  width: 100%;
}
.editor pre {
  margin: 2em 4em;
  width: 150%;
  height: 100%;
}
.editor pre:focus {
  outline: none;
}
.accordion-body {
  overflow: hidden;
  -webkit-transition: max-height 0.44s ease-in-out;
  -moz-transition: max-height 0.44s ease-in-out;
  transition: max-height 0.44s ease-in-out;
}
.js-accordionControl + .accordion-body {
  max-height: 100vh;
}
.js-accordionControl.inactive + .accordion-body {
  max-height: 0;
}
