body {
	margin: 0; padding: 0;
    min-height: 100vh;
}
.pageContainer {
    .sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	.sans-serif;
	font-weight: 600;
}

p {
    font-size: 18px;
    line-height: 20px;
}

.header {
	background-color: @colorPrimary;
	color: white;
	position: fixed;
	height: @headerHeight;
	width: 100%;
	z-index: 4;

	.logo {
		display: inline-block;
		background-color: @colorAccent;
		height: 30px;
		width: 30px;
		line-height: 30px;
		text-align: center;
		border-radius: 50%;
		font-weight: bold;
		position: absolute;
		margin: 15px 1em;
	}
	h3 {
		display: inline-block;
		margin: 0 0 0 1em;;
		padding: 0 1em;
		font-size: 28px;
		line-height: @headerHeight;

		&:hover {
			text-decoration: underline;
			cursor: default;
		}
	}
	.language {
		display: inline-block;
		float: right;
		padding: 0 1em;
		line-height: @headerHeight;
		text-transform: uppercase;
	}
}
.body-container {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex: 1 0 auto;
	margin-top: @headerHeight;
}
.toolbar {
	background-color: @colorSecondary;
	color: white;
	display: flex;
	flex: 0 0 25%;
	z-index: 2;
	box-shadow: 2px 0 0px rgba(255,255,255,.8);

	.toolbar-container {
		margin: 1em;
		width: 100%;
		font-weight: 100;
		text-transform: capitalize;

		h3.inactive {
			&:hover {
				text-decoration: underline;
				cursor: default;
			}
		}
	}
}
ul.listControl {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		padding: 2px 0 15px;
		margin-bottom: 14px;
		border-bottom: 1px solid rgba(255,255,255,.4);
	}
}
.editor {
	background: #002B36;
	color: #93A1A1;
	display: flex;
	flex: 0 0 75%;
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;

	code-box {
		width: 100%;
	}
	pre {
		margin: 2em 4em;
		width: 150%;
		height: 100%;

		&:focus {
			outline: none;
		}
	}
}
.u-pullRight {
	display: inline-block;
	float: right;
}
