.nav {
	padding: 0;
	margin: 0;
    min-height: 15px;
    display: flex;
    align-items: top;
    flex-direction: column;
    position: fixed;
	width: 115px;
}
.nav-tabs {
	li {
		float: left;
		text-align: center;
	    padding: 13px 12px;
		list-style: none;

		color: white;
		font-weight: 400;
		cursor: pointer;

		&.active {
			background-color: darken(@colorSecondary, 4%);
			a {
				//color: @colorPrimary;
			}
		}
	}
}

.tab-pane {
	display: none;

	&.active {
		display: block;
	}
}

.toolbar {
	background-color: @colorSecondary;
	color: white;
	display: flex;
	flex: 0 0 33%;
	max-width: 445px;
	z-index: 2;
	box-shadow: 2px 0 0 rgba(255,255,255,.8);

	.toolbar-container {
		margin: 0;
		margin-left: 115px;
		width: 100%;
		font-weight: 100;
		text-transform: capitalize;
		background-color: darken(@colorSecondary, 4%);
		padding: 0 16px;

		.tab-pane {
			min-width: 235px;
		}
	}
}
.controlGroup-body {
	margin-bottom: 50px;
}
ul.listControl {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		padding: 2px 0 15px;
		margin-bottom: 14px;
		border-bottom: 1px solid rgba(255,255,255,.4);
		font-size: 14px;

		.colorPicker {
			margin: 0 10px 0 0;
		}
	}
}
