<header class='header'>
	<div class='logo'>/</div>
	<h3>better/monospace</h3>
	<language-selector></language-selector>
</header>

<div class='body-container'>
    <div class='toolbar'>
        <div class='toolbar-container' on-ready>
			<div>
				<h3 class='js-accordionControl'>Color</h3>
				<div class='accordion-body'>
					<ul>
						<li>
							<spectrum-colorpicker
								ng-model="styleObject.bgColor"
								options="{showInput: true}"
								format="'hex'">
							</spectrum-colorpicker>
							background
						</li>
						<li>
							<spectrum-colorpicker
								ng-model="styleObject.color"
								options="{showInput: true}"
								format="'hex'">
							</spectrum-colorpicker>
							default text
						</li>
						<li ng-repeat="(fieldName, valueObject) in styleObject.fields">
							<spectrum-colorpicker
								ng-model="styleObject.fields[fieldName]['color']"
								options="{showInput: true}"
								format="'hex'">
							</spectrum-colorpicker>
							{{fieldName}}
						</li>
					</ul>
				</div>
			</div>
			<div>
				<h3 class='js-accordionControl  inactive'>Typography</h3>
				<div class='accordion-body'>
					font:
						<select ng-model="styleObject.fontFamily">
							<option ng-repeat="font in fontFileNames">{{font.name}}</option>
						</select>
					<br>
					font size:
						<input ng-model="styleObject.fontSize" type="range" min="11" max="28" step="1">
					<br>
					line height:
						<input ng-model="styleObject.lineHeight" type="range" min="11" max="36" step="1">
				</div>
			</div>
			<div>
				<h3 class='js-accordionControl  inactive'>Options</h3>
				<div class='accordion-body'>
					cursor color:
					<spectrum-colorpicker
						ng-model="styleObject.cursorColor"
						options="{showInput: true}"
						format="'hex'">
					</spectrum-colorpicker>
				</div>
			</div>
        </div>
    </div>

    <div class='editor'>
        <code-box></code-box>
    </div>
</div>
